body{
margin:0;
font-family:Arial;
background:linear-gradient(120deg,#ff9a9e,#fad0c4);
min-height:100vh;
display:flex;
justify-content:center;
align-items:flex-start;
overflow-y:auto;
padding:40px 0;
}

.main{
text-align:center;
background:white;
padding:40px;
border-radius:20px;
box-shadow:0 10px 25px rgba(0,0,0,0.2);
width:500px;
margin-bottom:40px;
}


h1{
color:#ff4d6d;
}

p{
font-size:18px;
color:#555;
}

button{
margin-top:20px;
padding:12px 25px;
font-size:16px;
background:#ff4d6d;
color:white;
border:none;
border-radius:30px;
cursor:pointer;
}

button:hover{
background:#ff1e4d;
}

#giftBox{
display:none;
margin-top:20px;
}

#giftBox img{
width:220px;
border-radius:15px;
box-shadow:0 5px 20px rgba(0,0,0,0.3);
}

#giftBox h2{
color:#ff4d6d;
margin-top:10px;
}

/* floating hearts */

.hearts::before,
.hearts::after{
content:"❤️";
font-size:40px;
position:absolute;
animation:float 5s infinite;
}

.hearts::after{
left:80%;
animation-duration:7s;
}

@keyframes float{
0%{top:100%; opacity:0;}
50%{opacity:1;}
100%{top:-10%; opacity:0;}
}